<?xml version="1.0"?>
<configuration>
  <LOG4NET>
    <connectionStrings>
      <add name="dbConnection" providerName="System.Data.SqlClient" connectionString=""
    <dbsetup>" />
    </connectionStrings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
   <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  -->
    <system.serviceModel>
      <SECURITYBINDING>
      <standardEndpoints>
        <webHttpEndpoint>
          <standardEndpoint name="" faultExceptionEnabled="true" helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </webHttpEndpoint>
      </standardEndpoints>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <SERVICECREDENTIALS>
            <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="false" />
            <THROTTLING>
        </behavior>
        </serviceBehaviors>
      </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
        <baseAddressPrefixFilters>
          <!--<add prefix="http://please insert domain here/" />-->
          <add prefix="http://localhost:8081/" />
        </baseAddressPrefixFilters>
      </serviceHostingEnvironment>
    </system.serviceModel>
    <system.webServer>
      <handlers>
        <remove name="svc-Integrated-4.0" />
        <add name="svc-Integrated-4.0" path="*" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <modules runAllManagedModulesForAllRequests="true" />
      <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
      <directoryBrowse enabled="true" />
    </system.webServer>
  </configuration>